<ol class="list-group list-group-numbered">
  <li
    class="list-group-item d-flex justify-content-between align-items-start list-group-item-action"
    *ngFor="let Team of teamsService.Teams"
    routerLink="/team" routerLinkActive="true" (click)="teamsService.currentTeam=Team"
  >
    <div class="ms-2 me-auto ">
      {{ Team.teamName }}
    </div>
    <span class="badge text-bg-primary rounded-pill">{{
      Team.teamMembers?.length
    }}</span>
  </li>
  <li class="text-secondary  {{editable==true}}?bg-color-danger:bg-body-secondary" *ngIf="editable && this.currentUrl == '/teams'" >
    <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default"
        >Team Name:</span
      >
      <input
        type="text"
        [(ngModel)]="newTeam"
        class="form-control"
      />
      <span
        class="bi-plus-circle btn btn-primary" *ngIf="editable==true"
        (click)="addTeam()"
      >
        add </span>
    </div>
  </li>
  <div class="justify-content-center" >
    <div class="d-flex justify-content-center me-auto">
        <span
        class="bi bi-person-plus-fill btn btn-primary" *ngIf="editable==false && this.currentUrl=='/teams'"
        (click)="editable = true"
      >
        New team</span>
    </div>
  </div>
</ol>
<!-- <p>
    this is
  </p> -->
