<nav class="navbar z-3 navbar-expand-lg bg-primary navbar-dark sticky-top">
  <div class="container-fluid d-flex justify-content-between">
    <a class="navbar-brand" routerLink="/">SprintDriver</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/welcome" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/help" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Help</a>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item" >
          <a class="nav-link" *ngIf="authSerice.isLoggedIn==false" routerLink="/login" routerLinkActive="active">Log In</a>
          <a class="nav-link" *ngIf="authSerice.isLoggedIn==true"  (click)="authSerice.signOut()" routerLinkActive="active">Log Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>