<div
  class="z-0 d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center fixed-left rounded"
>
  <ul
    class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto my-1 mx-auto text-center align-items-center"
  >
    <li class="nav-item"><a class="nav-link py-3 px-2 router-link-active" aria-current="page" routerLink="/assigned" routerLinkActive="active"><i class="bi bi-clipboard2 fs-1  "></i></a></li>
    <li class="nav-item"><a class="nav-link py-3 px-2 router-link-active" aria-current="page" routerLinkActive="active" routerLink="/profile"><i class="bi bi-person-circle fs-1  "></i></a></li>
  </ul>
</div>
