<div class="container">
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let task of assignedToMe">
            <div class="d-flex flex-wrap justify-content-between">
                <h6>{{task.taskName}}</h6>
                <h6 class="">{{task.taskSprint?.sprintName}}</h6>
            </div>
            <div class="m-1">
                details: {{task.taskDetails}}
            </div>
            <div class="m-1">
                Estimated Points {{task.storyPoint}}
            </div>
            <div class="d-flex m-1 flex-wrap">
                <p>Deadline:{{task.taskDeadline}}</p>
            </div>

        </li>
    </ul>
</div>
