<div class="chart-container">
  <google-chart 
    [type]="chartType"
    [data]="chartData"
    [options]="chartOptions">
  </google-chart>
</div>

<!-- Legend section -->
<div class="chart-legend">
  <span class="legend-item">
    <span class="legend-color active"></span>
    Active Sprint
  </span>
  <span class="legend-item">
    <span class="legend-color not-active"></span>
    Not Active Sprint
  </span>
</div>
<div class="d-flex justify-content-around">
  <app-sprint-progress-chart></app-sprint-progress-chart>
</div>
