<div class="chart-container" *ngIf="chartData.length>0">
  <google-chart 
    [type]="chartType"
    [data]="chartData"
    [options]="chartOptions">
  </google-chart>
</div>

<!-- Legend section -->
<div class="chart-legend" *ngIf="chartData.length>0">
  <span class="legend-item">
    <span class="legend-color active"></span>
    Active Sprint
  </span>
  <span class="legend-item">
    <span class="legend-color not-active"></span>
    Not Active Sprint
  </span>
</div>
<div class="d-flex justify-content-around">
  <app-sprint-progress-chart></app-sprint-progress-chart>
</div>

<div *ngIf="this.chartData.length==0"  class="container-fluid d-flex justify-content-center h-75 align-items-center">
  <section class="container d-flex m-5 justify-content-center align-items-center center-screen">
    <div class="alert alert-light text-center p-5 shadow" role="alert">
      <h4 class="alert-heading">No Data Available for charts</h4>
      <p>Nothing Stats available </p>
      <p class="bg-info rounded text-light"> Create sprint or start sprint first</p>
    </div>
  </section>
</div>